[buildout]
extensions =
    buildout.dumppickedversions
    mr.developer
dump-picked-versions-file = versions-picked.cfg

parts =
    instance
    zope2
    scripts
    zopepy
    PILwoTK
    productdistros
    mx-base
    psycopg2
    omelette

auto-checkout =
    cesstex.skin
    cesstex.db.pgsql

extends = http://dist.plone.org/release/3.3.4/versions.cfg
          https://raw.github.com/affinitic/affinitic.dist/master/plone334.cfg
          versions.cfg
versions = versions
prefer-final = true
find-links =
    http://download.zope.org/distribution/
    http://effbot.org/downloads
    http://pypi.interne.affinitic.be
    http://svn.kmrc.de/download/distribution/
    http://dist.plone.org/
    http://packages.interne.affinitic.be/simple
    http://eggs.affinitic.be/

index = http://pypi.affinitic.be

eggs +=
    archetypes.schemaextender
    Plone
    ipdb
    z3c.json
    z3c.jbot
    sqlalchemy
    z3c.sqlalchemy
    psycopg2
    egenix-mx-base
    lxml
    cesstex.skin
    cesstex.db.pgsql
    Products.Zope-Hotfix-20110622

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:xxxxxxxx
http-address = 8880
ftp-address = 8821
debug-mode = on
verbose-security = on
environment-vars =
    PTS_LANGUAGES fr

eggs =
    ${buildout:eggs}
    PILwoTK
    plone.reload
    collective.plonetruegallery
    collective.captcha==1.3
    collective.javascript.jqueryui
    Products.CalendarX
    Products.LocalFS
    affinitic.pwmanager

zcml =
    cesstex.skin
    cesstex.db.pgsql
    collective.plonetruegallery
    collective.captcha
    collective.javascript.jqueryui
    z3c.json
    archetypes.schemaextender
    affinitic.pwmanager

zcml-additional =
    <configure xmlns = "http://namespaces.zope.org/zope"
               xmlns:passmgr = "http://affinitic.be/passmgr">
        <passmgr:pwdfile name = "pg"
                 filename = "pgpass" />
    </configure>

products =
    ${productdistros:location}

[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.11.4/Zope-2.11.4-final.tgz
# requiring zope.testing for z2testrunner
skip-fake-eggs = zope.testing
                 zope.contenttype
                 zope.component
                 zope.schema
                 zope.interface
                 zope.app.testing
                 zope.app.debug
                 zope.i18n

[scripts]
recipe = zc.recipe.egg:scripts
eggs = ZSI
extra-paths = ${zope2:location}/lib/python

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[mx-base]
recipe = collective.recipe.mxbase

[psycopg2]
recipe = zc.recipe.egg:custom
egg = psycopg2
find-links = http://eggs.affinitic.be/psycopg2-2.0.6.tar.gz
define = PSYCOPG_EXTENSIONS,PSYCOPG_DISPLAY_SIZE,PSYCOPG_NEW_BOOLEAN,HAVE_PQFREEMEM,HAVE_PQPROTOCOL3
include-dirs = /usr/include
library-dirs = /usr/lib
rpath = /usr/lib

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
products =  ${instance:products}

[PILwoTK]
recipe = zc.recipe.egg
find-links =
    http://download.zope.org/distribution/

[productdistros]
recipe = plone.recipe.distros
urls =

nested-packages =
version-suffix-packages =

[sources]
cesstex.skin = git git@github.com:affinitic/cesstex.skin.git
cesstex.db.pgsql = git git@github.com:affinitic/cesstex.db.pgsql.git
