[buildout]
extensions = buildout.dumppickedversions
dump-picked-versions-file = versions-picked.cfg
parts =
    instance
    zope2
    scripts
    zopepy
    PILwoTK
    productdistros

develop =
    src/cesstex.skin

extends = http://dist.plone.org/release/3.3.4/versions.cfg
versions = versions
prefer-final = true
find-links =
    http://download.zope.org/distribution/
    http://effbot.org/downloads
    http://pypi.python.org/pypi/SQLAlchemy
    http://svn.kmrc.de/download/distribution/
    http://dist.plone.org/

eggs =
    archetypes.schemaextender
    Products.PloneHotfix20110720

[versions]
zope.component = 3.5.1
five.localsitemanager = 1.1
collective.plonetruegallery = 0.7.1

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:xxxxxxxx
http-address = 8880
ftp-address = 8821
debug-mode = on
verbose-security = on
environment-vars =
    PTS_LANGUAGES fr

eggs =
    ${buildout:eggs}
    Plone
    PILwoTK
    z3c.jbot
    plone.reload
    cesstex.skin
    collective.plonetruegallery
    collective.captcha==1.3
    Products.CalendarX
    python-ldap
    Products.PloneLDAP

zcml =
    cesstex.skin
    collective.plonetruegallery
    collective.captcha
    archetypes.schemaextender

products =
    ${productdistros:location}
[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.11.4/Zope-2.11.4-final.tgz
# requiring zope.testing for z2testrunner
skip-fake-eggs = zope.testing
                 zope.contenttype
                 zope.component
                 zope.schema
                 zope.interface
                 zope.app.testing
                 zope.app.debug
                 zope.i18n

[scripts]
recipe = zc.recipe.egg:scripts
eggs = ZSI
extra-paths = ${zope2:location}/lib/python

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[PILwoTK]
recipe = zc.recipe.egg
find-links =
    http://download.zope.org/distribution/

[productdistros]
recipe = plone.recipe.distros
urls =

nested-packages =
version-suffix-packages =
